.footer {
  margin-top: auto;
}

.copyright {
  font-size: 1.2rem;
  color: var(--color-light--1);
}

/* Mobile */
@media (max-width: 768px) {
  .copyright {
    font-size: 1.1rem;
  }
}

/* Small mobile */
@media (max-width: 480px) {
  .copyright {
    font-size: 1rem;
  }
}